#home {
  position: relative;
  background-size: cover;
  background-position: center;
  background-repeat: repeat;

  .app__wrapper {
    padding: 0;

    .copyright {
      display: none;
    }
  }
}

.app__header {
  flex: 1;
  width: 100%;
  height: 100%;
  flex-direction: row;
  padding: 5rem 4.3rem 0rem 0rem;

  @media screen and (min-width: 2000px) {
    padding-top: 8rem;
  }

  @media screen and (max-width: 900px) {
    padding: 2rem 8rem 0rem;
    flex-direction: column;
  }

  @media screen and (max-width: 600px) {
    padding: 2rem 5.5rem 1rem;
  }

  @media screen and (max-width: 450px) {
    padding: 2rem 5.5rem 1rem;
  }
}


.header-aboutsection {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  height: 100%;
  margin-right: -4rem;
  margin-left: 4rem;
  position: relative;
  // left: 10%;
  z-index: 2;

  @media screen and (max-width: 1400px) {
    width: 100%;
    margin-right: 0rem;
    margin-left: 2rem;
  }

  @media screen and (max-width: 1200px) {
    width: 100%;
    margin-right: 0rem;
    margin-left: 0rem;
  }
}

.app__header-badge {
  padding: 1rem 2rem;
  margin-top: 5rem;
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  position: relative;
  z-index: 3;

  .badge-cmp {
    // background: var(--lightwhite-color);
    border-radius: 5px;
    flex-direction: row;
    width: auto;
  }

  .tag-cmp {
    padding: 1.5rem 0rem;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    color: var(--brown-color);
    font-family: var(--font-inter);

    p {
      font-size: 1.5rem;
      font-family: var(--font-inter);

      .name {
        white-space: nowrap;
        font-size: 3rem;
        font-family: var(--font-inter);
        font-weight: 750;
        color: var(--brown-color);
      }

      @media screen and (min-width: 2000px) {
        font-size: 4rem;
      }

      @media screen and (min-width: 1200px) {
        padding: 0.3rem 0rem 0rem;
        font-size: 2.4rem;
        font-weight: 650;

        .name {
          font-size: 3rem;
          font-family: var(--font-inter);
          font-weight: 650;
        }
      }

      @media screen and (max-width: 850px) {
        padding: 0.3rem 0.6rem 0rem;
        font-size: 1.8rem;
        font-weight: 550;

        .name {
          font-size: 2.7rem;
          font-family: var(--font-inter);
          font-weight: 550;
        }
      }

      @media screen and (max-width: 450px) {
        padding: 0.1rem 0.3rem 0rem;
        font-size: 1.2rem;
        font-weight: 500;

        .name {
          font-size: 2.2rem;
          font-family: var(--font-inter);
          font-weight: 500;
        }
      }
    }
  }

  span {
    font-size: 2.5rem;
    cursor: pointer;

    @media screen and (min-width: 2000px) {
      font-size: 5rem;
    }
  }

  @media screen and (max-width: 1200px) {
    justify-content: flex-start;
    align-items: flex-start;
    font-size: 2rem;

    .name {
      font-size: 3rem;
    }
  }
}

.profile_container img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  mask: url(#mask);
}

.header-text {

  font-weight: 300;
  color: var(--grey-color);
  position: relative;
  z-index: 3;
  margin-bottom: 25px; 

  span{
    font-size: 1.3rem;
  
    @media screen and (min-width: 2000px) {
      font-size: 1.5rem;
    
    }

    @media screen and (min-width: 1200px) {
      font-size: 1.4rem;
    }

    @media screen and (min-width: 900px) {
      font-size: 1.2rem;
    }

    @media screen and (max-width: 900px) {
      padding: 1rem 1rem 1rem;
      font-size: 1rem;
    }

    @media screen and (max-width: 450px) {
      font-size: 0.9rem;
    }

    @media screen and (max-width: 1200px) {
      justify-content: flex-start;
      align-items: flex-start;
    }
}
}

.app__header-contactinfo {
  width: 100%;

  @media screen and (min-width: 2000px) {
    font-size: 1.2rem;
  }

  @media screen and (max-width: 900px) {
    font-size: 1.1rem;
  }

  @media screen and (max-width: 450px) {
    font-size: 0.8rem;
  }
}

.app__header-contact {
  display: table-row;
}

.contact-cell {
  display: table-cell;
  padding: 2px;
}

.contact-cell span {
  font-weight: bold;
  display: block;
  padding-bottom: 3px;
}

.contact-cell a {
  text-decoration: none;
  color: var(--grey-color)
}

.app__headerleft-img{
  position: relative;
}

.header-namegrey {
  position: absolute;
  z-index: 0;
  left: -15%;  
  top: 30px;

  img {
      width: 45%;
      height: 45%;
      object-fit: cover; 
    }
    @media screen and (max-width: 450px) {
      left: -5%;  
      top: 55px;
    }
}

.topleft_blob {
  position: absolute;
  z-index: 1;
  left: -110%;  
  top: -200px;
  img {
      width: 200%;
      height: 100%;
      object-fit: cover; 
      
      @media screen and (max-width: 450px) {
        width: 130%;
        height: 100%;
      }
    }
}


.app__header-img {
  flex: 1;
  top: 3%;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;

  img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    margin-left: -1.5rem;
    z-index: 1;
  }

  .overlay_blob {
    position: absolute;
    top: -15%;
    left: -38%;
    width: 170%;
    height: 140%;
    z-index: 0;
    @media screen and (min-width: 2000px) {
      left: -42%;
    }
  
    @media screen and (max-width: 900px) {
      left: -33%;
      width: 160%;
      height: 150%;
    }
  
    @media screen and (max-width: 450px) {
      left: -28%;
    }
  }

  @media screen and (max-width: 1200px) {
    margin: 0.5rem 0;
    img {
      width: 85%;
      height: 85%;
      object-fit: contain;
      z-index: 1;
    }
  }
}

.CVdownload-button {
  padding: 0.1rem 0rem 0rem 0rem;
  flex: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;

  button {
    padding: 0.8rem 0.8rem;
    justify-content: center;
    align-items: center;
    letter-spacing: 0.1rem;
    border: none;
    background-color: var(--yellow-color);
    border-radius: 7px;
    font-weight: 700;
    outline: none;
    cursor: pointer;
    margin: 1rem 0 0 0;
    font-family: var(--font-inter);
    font-size: 1.1rem;
    color: var(--brown-color);
    transition: cubic-bezier(0.55, 0.085, 0.68, 0.53);
    cursor: pointer;
  
    &:hover {
      box-shadow: 0 0 2px var(--brown-color);
    }
  
    @media screen and (max-width: 2000px) {
      font-size: 1rem;
      width: 100%;
      height: auto;
    }
  
    @media screen and (max-width: 1200px) {
      font-size: 1rem;
      width: 100%;
      height: auto;
    }
  
    @media screen and (max-width: 1000px) {
      font-size: 0.9rem;
      width: 100%;
      height: auto;
    }
  
    @media screen and (max-width: 768px) {
      font-size: 0.7rem;
      width: 100%;
      height: auto;
    }
  
    @media screen and (max-width: 450px) {
      font-size: 0.6rem;
      width: 100%;
      height: auto;
    }
  }
}

.hireme-button {
  padding: 0.1rem 0rem 0rem 0.5em;
  flex: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: var(--lightwhite-color);

  button {
    padding: 0.8rem 0.8rem;
    justify-content: center;
    align-items: center;
    letter-spacing: 0.1rem;
    border: none;
    color: var(--lightwhite-color);
    background-color: var(--brown-color);
    border-radius: 7px;
    font-weight: 700;
    outline: none;
    cursor: pointer;
    margin: 1rem 0 0 0;
    font-family: var(--font-inter);
    font-size: 1.1rem;
    transition: cubic-bezier(0.55, 0.085, 0.68, 0.53);
    cursor: pointer;
  
    &:hover {
      box-shadow: 0 0 2px var(--brown-color);
    }
  
    @media screen and (max-width: 2000px) {
      font-size: 1rem;
      width: 100%;
      height: auto;
    }
  
    @media screen and (max-width: 1200px) {
      font-size: 1rem;
      width: 100%;
      height: auto;
    }
  
    @media screen and (max-width: 1000px) {
      font-size: 0.9rem;
      width: 100%;
      height: auto;
    }
  
    @media screen and (max-width: 768px) {
      font-size: 0.7rem;
      width: 100%;
      height: auto;
    }
  
    @media screen and (max-width: 450px) {
      font-size: 0.6rem;
      width: 100%;
      height: auto;
    }
  }
}

.button-container {
  display: flex;
  justify-content: space-between;
  position: relative;
  z-index: 3;
}


