.app__footer {
  flex: 1;
  width: 100%;
  flex-direction: column;
  @media screen and (max-width: 768px) {
    flex-direction: column;
  }
}

.app__footer-blob_img {
  text-align: center;
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 85%;

  .contact_head-text {
    font-size: 3.75rem;
    font-weight: 800;
    text-align: center;
    font-family: var(--font-libre);
    color: var(--lightwhite-color);
    position: absolute;
    top: 12%;
    left: 50%;
    transform: translateX(-50%);
    text-transform: capitalize;

    span {
      color: var(--yellow-color);
      font-style: italic;
    }

    @media screen and (min-width: 2000px) {
      font-size: 4rem;
    }
    @media screen and (max-width: 1200px) {
      font-size: 3.5rem;
    }
    @media screen and (max-width: 900px) {
      font-size: 3rem;
    }
    @media screen and (max-width: 768px) {
      font-size: 2.4rem;
    }
    @media screen and (max-width: 450px) {
      font-size: 1.9rem;
    }
  }

  img {
    width: 104%;
    height: auto;
    max-width: 104%;
    position: relative;
    z-index: 0;
    border-radius: 10px;
    @media screen and (max-width: 500px) {
      flex-direction: column;
      width: 104%;
      height: auto;
      max-width: 104%;
    }
  }

  .app__footer-cards {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;

    .app__footer-card {
      padding: 40px;
      margin: 10px;
      text-align: center;
      flex-direction: column;
      align-items: center;
      display: flex;
      justify-content: center;
      cursor: pointer;
      transition: all 0.3s ease-in-out;
      
      &:hover {
        .contact-icon a{
          color: var(--lightwhite-color);
        }
        .contact-text a{
          color: var(--yellow-color);
        }
        .contact-number{
          color: var(--lightwhite-color);
        }
      }

      @media screen and (max-width: 2000px) {
        padding: 0px;
        margin: 110px;
      }
      @media screen and (max-width: 1500px) {
        padding: 0px;
        margin: 70px;
      }
      @media screen and (max-width: 1200px) {
        padding: 0px;
        margin: 40px;
      }
      @media screen and (max-width: 1000px) {
        padding: 0px;
        margin: 30px;
      }
      @media screen and (max-width: 800px) {
        padding: 0px;
        margin: 20px;
      }
      @media screen and (max-width: 500px) {
        padding: 0px;
        margin: 20px;
      }
      @media screen and (max-width: 400px) {
        padding: 0px;
        margin: 12px;
      }
    }

    @media screen and (max-width: 500px) {
      flex-direction: column;
    }
  }
  @media screen and (max-width: 1400px) {
    width: 100%;
    height: auto;
  }
  @media screen and (max-width: 1200px) {
    width: 100%;
    height: auto;
  }
  @media screen and (max-width: 768px) {
    width: 100%;
    height: auto;
  }
  @media screen and (max-width: 600px) {
    flex-direction: row;
    width: 100%;
    height: auto;
  }
  @media screen and (max-width: 450px) {
    width: 100%;
    height: auto;
    flex-direction: column;
  }
}

.contact_hireme {
  flex: auto;
  display: flex;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 75%;

  button {
    padding: 0.5rem 1rem;
    letter-spacing: 0.1rem;
    border: none;
    background-color: var(--yellow-color);
    color: var(--brown-color);
    border-radius: 2px;
    font-weight: 700;
    cursor: pointer;
    font-family: var(--font-inter);
    z-index: 1;
  
    &:hover {
      box-shadow: 0 0 1px var(--brown-color);
    }
    @media screen and (max-width: 2000px) {
      padding: 1rem 3rem;
      font-size: 1rem;
    }
    @media screen and (max-width: 1200px) {
      padding: 1rem 2rem;
      font-size: 1rem;
    }
    @media screen and (max-width: 1000px) {
      padding: 1rem 1.5rem;
      font-size: 0.9rem;
    }
    @media screen and (max-width: 768px) {
      padding: 0.5rem 1.1rem;
      font-size: 0.85rem;
    }
    @media screen and (max-width: 500px) {
      padding: 0.5rem 0.8rem;
      font-size: 0.85rem;
    }
  }      
  @media screen and (max-width: 500px) {
    font-size: 0.7rem;
    top: 85%;
  }
}

.contact-icon {
  color: var(--yellow-color);
  a {
    font-size: 2.8rem;
    color: var(--yellow-color);
    @media screen and (max-width: 2000px) {
      font-size: 3rem;
    }
    @media screen and (max-width: 1200px) {
      font-size: 2.5rem;
    }
    @media screen and (max-width: 900px) {
      font-size: 2.1rem;
    }
    @media screen and (max-width: 768px) {
      font-size: 1.8rem;
    }
    @media screen and (max-width: 600px) {
      font-size: 1.6rem;
    }
    @media screen and (max-width: 500px) {
      font-size: 2.3rem;
    }
  }
}

.contact-text {
  padding: 2px 1px;

  color: var(--lightwhite-color);
  margin-top: 3px;
  @media screen and (max-width: 2000px) {
    font-weight: 450;
    font-size: 1.35rem;
  }
  @media screen and (max-width: 1200px) {
    font-weight: 450;
    font-size: 1.15rem;
  }
  @media screen and (max-width: 900px) {
    font-weight: 350;
    font-size: 1.0rem;
  }
  @media screen and (max-width: 768px) {
    font-weight: 300;
    font-size: 0.9rem;
  }
  @media screen and (max-width: 600px) {
    font-weight: 300;
    font-size: 0.77rem;
  }
  @media screen and (max-width: 500px) {
    font-weight: 400;
    font-size: 0.87rem;
  }
  a {
    text-decoration: none;
    font-weight: 450;
    color: var(--lightwhite-color);
  }
}

.contact-number {
  text-decoration: none;
  font-weight: 100;
  color: var(--grey-color);
  @media screen and (max-width: 3000px) {
    font-weight: 140;
    font-size: 1.45rem;
  }
  @media screen and (max-width: 1600px) {
    font-weight: 80;
    font-size: 1.25rem;
  }
  @media screen and (max-width: 900px) {
    font-weight: 80;
    font-size: 1.05rem;
  }

  @media screen and (max-width: 768px) {
    font-weight: 70;
    font-size: 0.8rem;
  }

  @media screen and (max-width: 680px) {
    font-weight: 65;
    font-size: 0.7rem;
  }

  @media screen and (max-width: 600px) {
    font-weight: 65;
    font-size: 0.7rem;
  }
  @media screen and (max-width: 500px) {
    font-weight: 85;
    font-size: 0.9rem;
  }
}

.app__footer-arrow {
  position: relative;
  right: 0px;
  @media screen and (min-width: 768px) {
    width: 28px;
    height: 29px;
    margin: 0.5rem 0;

    svg {
      width: 25px;
      height: 26px;
    }
  }
}

.app__footer-uparrow {
  position: fixed;
  bottom: 30px; 
  right: 40px; 
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 42px;
  border-radius: 50%;
  background-color: var(--yellow-color);
  margin: 0.25rem 0;
  border: 1px solid var(--lightwhite-color);
  transition: all 0.3s ease-in-out;

  svg {
    width: 30px;
    height: 35px;
    color: var(--lightwhite-color);
  }

  &:hover {
    background-color: var(--brown-color);

    svg {
      color: var(--yellow-color);
    }
  }

  @media screen and (max-width: 2000px) {
    width: 45px;
    height: 48px;
    margin: 0.5rem 0;

    svg {
      width: 32px;
      height: 36px;
    }
  }
  @media screen and (max-width: 900px) {
    width: 34px;
    height: 35px;
    svg {
      width: 29px;
      height: 30px;
    }
  }
  @media screen and (max-width: 768px) {
    width: 28px;
    height: 29px;
    svg {
      width: 25px;
      height: 26px;
    }
  }
  @media screen and (max-width: 450px) {
    width: 25px;
    height: 25px;
    svg {
      width: 22px;
      height: 22px;
    }
  }
}

/* Default styles for both images */
#large-screen-image,
#small-screen-image {
  width: 110%;
  height: auto;
  max-width: 125%;
  position: relative;
  z-index: 0;
  border-radius: 10px;
}

#large-screen-image {
  display: block; 
}

/* Style for the small screen image */
#small-screen-image {
  display: none; 
  max-height: 130%; 
  width: auto; 
}


@media screen and (max-width: 500px) {
  #large-screen-image {
    display: none;
  }
  #small-screen-image {
    display: block;
  }
}
