@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Itim&display=swap");
/* @import url("https://fonts.googleapis.com/css2?family=Inter&family=Libre+Baskerville&family=Playfair+Display:wght@500&family=Roboto:wght@400;500&display=swap"); */
/* @import url("https://fonts.googleapis.com/css2?family=Inter&family=Libre+Baskerville&family=Oswald&family=Playfair+Display:wght@500&family=Roboto:wght@400;500&display=swap"); */

:root {
  --font-base: "DM Sans", sans-serif;
  --font-itim: "Itim", sans-serif;
  --font-title: 'Bowlby One SC', cursive;
  --font-libre: 'Libre Baskerville', serif;
  --font-playfair: 'Playfair Display', serif;
  --font-inter: 'Inter', sans-serif;
  --font-oswald: 'Oswald', sans-serif;

  
  --white-color: #ffffff;
  --lightwhite-color: #ffffff;
  --llightwhite-color: #FBFBFB;

  --lightgrey-color: #ADADAD;
  --grey-color: #A3A3A3;
  --black-color: #000000;
  --darkblack-color: #212121;
  --blue-color: #1F79C2; 
  --brown-color: #2D2D2D;
  --red-color: #EF464B;
  --green-color: #86AC40;
  --brightyellow-color: #FFD700;
  --yellow-color: #FFC736;

}

* { 
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
}

body::-webkit-scrollbar { 
  display: none; 
}